<ion-fab horizontal="{{position}}"
         slot="fixed"
         vertical="bottom">
  <ion-fab-button [disabled]="disabled"
                  color="success">
    <ion-icon color="light"
              name="{{icon}}">
    </ion-icon>
  </ion-fab-button>
</ion-fab>

