<ion-item>
  <ion-label>
    <ion-icon name="{{icon}}">
    </ion-icon>
    {{title}}</ion-label>
  <ion-select (ionChange)="handleChange($event)"
              interface="{{type}}"
              placeholder="{{placeholder}}"
              value="{{value}}">
    <ion-select-option *ngFor="let smDefaultObject of smDefaultObjects "
                       value="{{smDefaultObject.valueExpr}}">
      {{smDefaultObject.displayExpr}}
    </ion-select-option>
  </ion-select>
</ion-item>
