<sm-parent-child>
  <ion-icon name="car-sport-outline"></ion-icon>
  <div slot="center">
    <p type="title">000.000.000-00</p>
    <p type="subtitle">Produtor: Cleitin Silva</p>
    <p type="subtitle">Produto: Picão-preto</p>
    <p type="info">lat: 21° 32' 21,8956743978</p>
    <p type="info">long: 21° 32' 21,8956743978</p>
  </div>
</sm-parent-child>
