<ion-list>
  <sm-item *ngFor="let smItem of smItems"
           [smItem]="smItem">
    <svg fill="none" height="36" viewBox="0 0 54 36" width="54" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M53.3216 32.8156L28.653 14.8013V11.1095C28.653 10.1966 27.9129 9.45648 27 9.45648C25.3703 9.45648 24.0446 8.12103 24.0446 6.47941C24.0446 4.83789 25.3704 3.50234 27 3.50234C28.6297 3.50234 29.9555 4.83778 29.9555 6.47941C29.9555 7.39235 30.6957 8.13242 31.6085 8.13242C32.5214 8.13242 33.2615 7.39224 33.2615 6.47941C33.2615 3.01496 30.4526 0.196304 26.9999 0.196304C23.5474 0.196304 20.7383 3.01486 20.7383 6.47941C20.7383 9.37 22.6937 11.811 25.3468 12.5404V14.8012L0.678245 32.8156C-0.609003 33.7559 0.0585096 35.8037 1.65309 35.8037H52.3468C53.941 35.8038 54.6094 33.7561 53.3216 32.8156ZM26.3488 25.9197H27.6512V28.4011H26.3488V25.9197ZM6.71972 32.4977L25.3468 18.8953V22.6136H24.6956C23.7827 22.6136 23.0426 23.3538 23.0426 24.2666V30.0542C23.0426 30.9671 23.7828 31.7072 24.6956 31.7072H29.3042C30.2171 31.7072 30.9572 30.967 30.9572 30.0542V24.2666C30.9572 23.3537 30.217 22.6136 29.3042 22.6136H28.653V18.8953L47.2801 32.4977H6.71972V32.4977Z"
        fill="#28BA62"/>
    </svg>
  </sm-item>
</ion-list>
