div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

span {
  background: var(--ion-color-primary);
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  contain: content;
  padding: 0.3rem;
  font-size: 11pt;
  border-radius: 50%;
}
