.card-flex {
  display: flex;
  gap: 10px;
  margin: 10px;
  align-items: center;

  .content {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
  }

  .row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
  }

  .location {
    font-size: 0.6rem;
  }

  .date {
    font-size: 0.6rem;
  }

  .trap-type {
    font-weight: 600;
  }
  
  .prague {
    font-size: .7rem;
  }
}
