<mat-accordion>
  <mat-expansion-panel (expandedChange)="expandedEvent($event)"
                       [expanded]="expanded"
                       [hideToggle]="hideToggle">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ title }}</mat-panel-title>
      <mat-panel-description>{{ description }}</mat-panel-description>
      <ng-content select="[[header],[sm-item]]"> </ng-content>
    </mat-expansion-panel-header>
    <ng-content select="[[content],[sm-item]]"> </ng-content>
  </mat-expansion-panel>
</mat-accordion>
