<ion-segment scrollable value="{{tab[0].title}}">
  <ion-segment-button *ngFor="let data of tab"
                      layout="icon-start"
                      routerLink='{{data.routerlink}}'
                      value="{{data.title}}">
    <ion-label>{{data.title}}</ion-label>
    <ion-icon name="{{data.icon}}"></ion-icon>
  </ion-segment-button>
</ion-segment>
