<ion-content>
  <form (ngSubmit)="save()" [formGroup]="todo">
    <sm-card color="success"
             icon="construct"
             title="Configuração">
      <ion-card-content>
        <sm-selectbox [datasource]="hospedeiro$"
                      displayExpr="value"
                      formControlName="hospedeiro"
                      icon="leaf-outline"
                      placeholder="Selecione"
                      title="Hopedeiro"
                      type="popover"
        >
        </sm-selectbox>
      </ion-card-content>
      <ion-card-content>
        <sm-selectbox [datasource]="estado"
                      formControlName="estado"
                      icon="shuffle"
                      placeholder="Selecione"
                      title="Estado"
                      type="popover">
        </sm-selectbox>
      </ion-card-content>
      <ion-card-content>
        <ion-label>Tipo de Armadilha</ion-label>
        <sm-button-chip [datasource]="tipoArmadilha"
                        formControlName="tipoArmadilha">
        </sm-button-chip>
      </ion-card-content>
    </sm-card>
    <sm-card color="success"
             icon="locate"
             title="Geolocalização">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <ion-img
          src="https://cdn.discordapp.com/attachments/931328409949310986/951531892967079966/unknown.png"></ion-img>
        <div style="displey: flex; justify-content: space-between">
          lat
          long
        </div>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col>
              <ion-label>Long: 41°24'12.2"N 2°10'26.5"</ion-label>
            </ion-col>
            <ion-col>
              <ion-label>Lat: 45°56'34.4"N 2°10'26.5"</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </sm-card>

    <sm-card color="success"
             icon="qr-code"
             title="QrCode">
      <ion-card-content>
        <ion-img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"></ion-img>
      </ion-card-content>
    </sm-card>
  </form>
</ion-content>

<sm-button (click)="back()"
           defaultHref="/instalacao-armadilha"
           icon="chevron-back-outline"
           position="start">
</sm-button>
<sm-button (click)="save(todo.valid)"
           [disabled]="!todo.valid"
           icon="save-outline"
           position="end">
</sm-button>



