<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title style="text-align: center;">{{title.getTitle()}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <router-outlet id="main-content"></router-outlet>
</ion-content>
