.accordion-container {
  margin: 20px; /* Remover isso */

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #000;
  border-radius: 15px;
  overflow: hidden;
  transition: all ease-in-out 270ms;

  .accordion-header {
    padding: 25px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    &::ng-deep > ion-icon {
      background: var(--ion-color-primary);
      padding: 10px;
      border-radius: 50%;
      font-size: 50px;
      color: #fff;
    }

    &::ng-deep div:nth-child(2) {
      flex: 1;

      &::ng-deep {
        & > * {
          margin: 5px 0;
        }

        & > *[type="title"] {
          font-size: 1.2rem;
          font-weight: 900;
        }

        & > *[type="subtitle"] {
          font-size: 1rem;
          font-weight: 400;
        }

        & > *[type="info"] {
          font-size: 1rem;
          font-weight: 300;
        }
      }
    }

    .accordion-button-wrapper {
      display: flex;
      gap: 5px;
      button,
      a {
        background: var(--ion-color-primary);
        font-size: 1.5rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-decoration: none;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: all ease-in-out 270ms;
      }
    }
  }

  .accordion-content {
    position: relative;

    p {
      margin: 0;
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;

      position: absolute;
      top: -15px;
      left: 0;

      background-color: #fff;
    }
  }
}
