<div
  class="accordion-container"
  [@changeColor]="!showBody ? 'white' : 'colored'"
>
  <div class="accordion-header" (click)="toggle()">
    <ng-content
      select="ion-icon"
      [@changeColor]="showBody ? 'white' : 'colored'"
    ></ng-content>
    <ng-content select="[slot=center]"></ng-content>
    <div class="accordion-button-wrapper">
      <a href="#" [@changeColor]="showBody ? 'white' : 'colored'">
        <ion-icon name="add-outline"></ion-icon>
      </a>
      <button [@changeColor]="showBody ? 'white' : 'colored'">
        <ion-icon
          [@rotateIcon]="showBody ? 'rotated' : 'default'"
          name="chevron-down-outline"
        ></ion-icon>
      </button>
    </div>
  </div>

  <div
    class="accordion-content"
    [@smoothCollapse]="!showBody ? 'initial' : 'final'"
  >
    <p>sfsdfsd</p>
    <p>sfsdfsd</p>
    <p>sfsdfsd</p>
    <p>sfsdfsd</p>
    <p>sfsdfsd</p>
  </div>
</div>
