<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-icon color="{{ color }}" name="{{ icon }}"></ion-icon>
      {{ title }}
    </ion-card-title>
  </ion-card-header>
  <ng-content></ng-content>
</ion-card>
